* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 40px;
  background-color: black;
  font-family: "Atkinson Hyperlegible",Arial;

}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}